/* Heading Color */
body, h1 {
    color: #000000;
    margin: 0;
    padding: 0;
}

/* Navigation bar (top) appearence */
nav{ 
    background-color: #7d4f2a;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

}

/* Navigation index formatting */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px; 
}
nav ul li {
    text-decoration: none;
    font-weight: bold;
    transition: color o.3s;
}
nav ul li a {
    color: #000000;
    text-decoration: none;
}
nav ul li a:hover{ 
    color:#498467;
}

body {
    background-image: url("Nestbox.jpeg.png");
    background-size:113%;     
    background-repeat: no-repeat;    
}