/* Heading Color */
body, h1 {
    color: #fffffffb;
    margin: 0;
    padding: 0;
}

h2 {
    color: #034C3C;
}

/* Navigation bar (top) appearence */
nav{ 
    background-color: #7d4f2a;
    color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

}

/* Navigation index formatting */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px; 
}
nav ul li {
    text-decoration: none;
    font-weight: bold;
    transition: color o.3s;
}
nav ul li a {
    color: #000000;
    text-decoration: none;
}
nav ul li a:hover{ 
    color:#498467;
}


/* PA Wildlife section Header Color */
body, h2 {
    color: #04624E;
    margin: 0;
    padding: 0;
}

/* PA Wildlife section body text */
body{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color:#cbb7a5;
    color: #453823;
    line-height: 1.6;
}


/* Change Table Heading Row Color + text */
th{
    background-color: #eae6da; 
    color:#000000;  
    text-transform: uppercase;
    letter-spacing: 1px;
}

/* Change First Row Table Color  */
table{
    width: 80%;
    margin: 30px;
    border-collapse: collapse;
    box-shadow: o 3px 8px rgba (0,0,0,0.1);
    background-color: #034C3C;
    color: #eae6da;
    border-radius: 8px;
    overflow: hidden;
}

th,td{
    padding: 12px,15px;
    text-align: left;
}

/* Change Second table row color */
tr:nth-child(even) {
    background-color: #4F3130;
}

tr:hover {
    background-color: black;
    transition: background-color 0.2s;
}

footer{
    background-color: #ffffff;
    color: #183265;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: 0 -2px 6px rgba(0, 0, 0, 0.2);
}

footer a:hover{
    text-decoration: underline;
}

